modules = ["python-3.11"]
run = "python -m streamlit run app.py"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "python -m streamlit run app.py"]

[[ports]]
localPort = 5000
externalPort = 80
